@model List<Answer>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Answer Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Code
                                    </th>
                                    <th>
                                        Is The Best
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count() != 0)
                            {
                                <tbody>
                                    @foreach (Answer answer in Model)
                                    {
                                        <tr>
                                            <td>
                                                @answer.Desc
                                            </td>
                                            <td>
                                                @answer.Code
                                            </td>
                                            <td>
                                                @answer.IsTheBest
                                            </td>
                                            <td class="text-center" style="cursor:pointer">
                                                <a asp-area="admin" asp-controller="answer" asp-action="delete" asp-route-id="@answer.Id"> <i class="fa-regular fa-trash-can"></i></a>
                                            </td>
                                            <td class="text-center" style="cursor:pointer">
                                                <a asp-area="admin" asp-controller="answer" asp-action="update" asp-route-id="@answer.Id"><i class="fa-solid fa-pen"></i></a>
                                            </td>
                                        </tr>

                                    }
                                    <tr>
                                        <td><a asp-area="admin" asp-controller="answer" asp-action="create" class="btn btn-info">Create Answer</a> </td>
                                    </tr>
                                </tbody>
                            }
                            else
                            {
                                <tbody>
                                    <tr class="text-info"> <td>No Answer Yet</td> </tr>
                                    <tr>
                                        <td><a asp-area="admin" asp-controller="answer" asp-action="create" class="btn btn-info">Create Answer</a> </td>
                                    </tr>

                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



