@model List<Award>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Awards Table</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th class="text-center">
                                        Submission Date
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count()!=0)
                                {
                                <tbody>
                                    @foreach (Award award in Model)
                                    {
                                        <tr>
                                            <td>
                                                <img src="~/assets/images/about/@award.Image" width="100" height="100" style="object-fit:cover" />
                                            </td>
                                            <td>
                                                @award.Name
                                            </td>
                                            <td>
                                                @award.Desc
                                            </td>
                                            <td class="text-center">
                                                @award.DateOfSubmision
                                            </td>
                                            <td class="text-center" style="cursor:pointer">
                                                <a asp-area="admin" asp-controller="awards" asp-action="delete" asp-route-id="@award.Id"> <i class="fa-regular fa-trash-can"></i></a>
                                            </td>
                                            <td class="text-center" style="cursor:pointer">
                                                <a asp-area="admin" asp-controller="awards" asp-action="update" asp-route-id="@award.Id"><i class="fa-solid fa-pen"></i></a>
                                            </td>
                                        </tr>

                                    }
                                    <tr>
                                        <td><a asp-area="admin" asp-controller="awards" asp-action="create" class="btn btn-info">Create Award</a> </td>
                                    </tr>
                                </tbody>
                                }
                                else {
                                      <tbody>
                                        <tr  class="text-info" > <td >No Awards Yet</td> </tr>
                                         <tr>
                                             <td><a asp-area="admin" asp-controller="awards" asp-action="create" class="btn btn-info">Create Award</a> </td>
                                         </tr>

                                      </tbody>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>